body{
  margin:0;
  font-family: Arial, sans-serif;
}

.home{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.title{
  color:white;
  font-size:45px;
  text-align:center;
}

.subtitle{
  color:white;
  margin-bottom:30px;
}

.btn{
  padding:15px 30px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin:10px;
  font-size:18px;
}

.report{
  background:#28a745;
  color:white;
}

.admin{
  background:#343a40;
  color:white;
}